.DS_Store

# Virtual env files
.venv/

# Temp files
~$*
src/corpus_baw_baw_mod.gensim
src/corpus_baw_baw_mod.gensim.expElogbeta.npy
src/corpus_baw_baw_mod.gensim.id2word
src/corpus_baw_baw_mod.gensim.state
src/corpus_buller_mod.gensim
src/corpus_buller_mod.gensim.expElogbeta.npy
src/corpus_buller_mod.gensim.id2word
src/corpus_buller_mod.gensim.state
src/corpus_charlotte_mod.gensim
src/corpus_charlotte_mod.gensim.expElogbeta.npy
src/corpus_charlotte_mod.gensim.id2word
src/corpus_charlotte_mod.gensim.state
src/corpus_falls_mod.gensim
src/corpus_falls_mod.gensim.expElogbeta.npy
src/corpus_falls_mod.gensim.id2word
src/corpus_falls_mod.gensim.state
src/corpus_hotham_mod.gensim
src/corpus_hotham_mod.gensim.expElogbeta.npy
src/corpus_hotham_mod.gensim.id2word
src/corpus_hotham_mod.gensim.state
src/corpus_perisher_mod.gensim
src/corpus_perisher_mod.gensim.expElogbeta.npy
src/corpus_perisher_mod.gensim.id2word
src/corpus_perisher_mod.gensim.state
src/corpus_selwyn_mod.gensim
src/corpus_selwyn_mod.gensim.expElogbeta.npy
src/corpus_selwyn_mod.gensim.id2word
src/corpus_selwyn_mod.gensim.state
src/corpus_stirling_mod.gensim
src/corpus_stirling_mod.gensim.expElogbeta.npy
src/corpus_stirling_mod.gensim.id2word
src/corpus_stirling_mod.gensim.state
src/corpus_thredbo_mod.gensim
src/corpus_thredbo_mod.gensim.expElogbeta.npy
src/corpus_thredbo_mod.gensim.id2word
src/corpus_thredbo_mod.gensim.state
src/model10_1k.gensim
src/model10_1k.gensim.expElogbeta.npy
src/model10_1k.gensim.id2word
src/model10_1k.gensim.state
